extends templates/template

append config
    -var title = "Clientes"
    -var paginaActual= "clientes"  
block main
    h1 Clientes
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis mauris eu dui vulputate lacinia. Vivamus tempor efficitur erat, quis tincidunt libero facilisis non. Quisque sit amet faucibus purus. Vestibulum convallis vitae justo vitae pharetra. Nullam vel ex in diam tincidunt finibus. Cras suscipit dictum eros eget hendrerit. Etiam cursus tempor neque vel interdum. Fusce feugiat sodales dictum. Cras efficitur viverra suscipit. Integer efficitur purus vitae ligula feugiat luctus. Ut tortor orci, aliquet quis leo sit amet, pretium accumsan odio. Vivamus est neque, sollicitudin eu lorem sit amet, eleifend semper massa. Mauris suscipit eleifend urna at accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    p Suspendisse placerat tristique est, a vestibulum arcu. Cras ac interdum est. Integer nec turpis varius, tincidunt odio ut, ultrices ipsum. Aliquam bibendum tristique consequat. Praesent eget efficitur metus, a rhoncus neque. Aliquam et felis feugiat, tempus sapien in, malesuada eros. Integer eu ante tortor. Etiam purus nunc, porttitor ut mi eu, ullamcorper maximus lectus. Duis metus neque, ullamcorper ac mauris imperdiet, finibus placerat est. Quisque quis augue ante. Donec vitae tempus ante, sit amet tincidunt arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ut mauris malesuada, ultricies enim nec, aliquam neque. Nam nec viverra nibh.
block aside
    h2 Sigenos en Facebook
    p ucibus purus. Vestibulum convallis vitae justo vitae pharetra. Nullam vel ex in diam tincidunt finibus. Cras suscipit dictum eros eget hendrerit. Etiam cursus tempor neque vel interdum. Fusce feugiat sodales dictum. Cras efficitur viverra suscipit. Integer efficitur purus vitae ligula feugiat luctus. Ut tortor orci, ali
    a(href="https://facebook.com", target="_blank") Seguir

