//Este é um comentario
doctype
html
	head
		title Primeira Página com Pug
		meta(charset="UFT-8")
	body
		a(href="https://www.google.com.br", target="_blank") Ir a Google
		div#portada
		div.mi-clase
		div.mi-clase.centrada 
		
		